{% extends "single.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
 

<!--------------------------------Search starts HERE------------------------------>

<section class="ftco-section">
	<div class="comment-form-wrap pt-5">
                <div class = "container">
                    <div class="row">
                        <div class="col-sm-8 offset-sm-2">
	<div class="col-md-7 heading-section ftco-animate">
            <h2 class="mb-4"><span>Search Results</span></h2>
          </div>
	{% if post %}
	{% for post in post%}
 <div class="sidebar-box ftco-animate">
              <ul class="categories">
                
                <li><a href="{% url 'single_page' post.id %}">{{post.title}} </a></li>
                {% endfor %}
	{% else %}
	<li>Sorry! your search for  "{{query}}"  didn't match any results</li>
	{% endif %}
              </ul>
            </div>
        </div>
    </div>
</div>

</section>
{% endblock content%}